@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme{
  /* --color-primary:oklch(0.25 0.05 251.3); */

  --color-primary:#ffffff;
  --color-secondary:#4d6078;
  --color-darkblue:#0e2339;
  --color-lightblue:#1b293e;

  --font-open-sans: Open Sans, serif;

  --breakpoint-xs: 375px;
}

@layer base {
  body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    background-color: oklch(0.25 0.05 251.3);
    
  }
}

@layer components {
  .pattern {
    @apply w-screen h-screen bg-center bg-cover absolute z-0;
    background-image: url("/bg_2.png");
  }
  .wrapper {
    @apply  pt-[28px] max-w-7xl mx-auto flex flex-col relative z-10 pb-12
  }
  .cells{
    @apply bg-cover w-full h-[200px];
  }
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}
